<!DOCTYPE html>
<html>

<head>
    <title>Cocktail Finder</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="container">
        <h1>🍹 Cocktail Finder</h1>

        <form method="POST" action="/search">
            <input type="text" name="drink" placeholder="Enter drink name" required />
            <button type="submit">Search</button>
        </form>
    </div>

</body>

</html>
